@model TravelClient.Models.Review

<h4>Add a New Review</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Author)
  @Html.TextBoxFor(model => model.Author, new { @class = "form-control"})
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country, new { @class = "form-control"})
  <br>
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City, new { @class = "form-control"})
  <br>
  @Html.LabelFor(model => model.Landmark)
  @Html.TextBoxFor(model => model.Landmark, new { @class = "form-control"})
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextAreaFor(model => model.Description, new { @class = "form-control"})
  <br>
  @Html.LabelFor(model => model.Rating)
  <br>
  @Html.Label("1") 
  @Html.RadioButtonFor(model => model.Rating, 1)
  @Html.Label("2")
  @Html.RadioButtonFor(model => model.Rating, 2)
  @Html.Label("3")
  @Html.RadioButtonFor(model => model.Rating, 3)
  @Html.Label("4")
  @Html.RadioButtonFor(model => model.Rating, 4)
  @Html.Label("5")
  @Html.RadioButtonFor(model => model.Rating, 5)
  <br>
  <input type="submit" value="Add" class="btn btn-outline-info" />
}