<h1>Search Reviews:</h1>
<br>
@using (Html.BeginForm("Search", "Reviews", FormMethod.Get))
{
  @Html.Label("Country")
  @Html.TextBox("country")
  <br>
  @Html.Label("City")
  @Html.TextBox("city")
  <br>
  @Html.Label("Landmark")
  @Html.TextBox("landmark")
  <br>
  <input type="submit" value="Search" class="btn btn-outline-info" />
}  
<br>
<hr>
<h1>All Reviews:</h1>
<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>ID: @review.ReviewId</li>
    <li>Author: @review.Author</li>
    <li>Country: @review.Country</li>
    <li>Rating: @review.Rating</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  
  <br>
}
</ol>

<p>@Html.ActionLink("Add New Review", "Create", "Reviews", null, new { @class = "btn btn-outline-info"})</p>
<p>@Html.ActionLink("See Random Review", "Random", "Reviews", null, new { @class = "btn btn-outline-info"})</p>